body {
  background-color: azure;
}

.App {
  text-align: center;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.App h1,
.App p {
  width: 100%;
}
